body {
    background: black;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #09a1cf;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
   


}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

 h1{
    color: red;
    text-align: center;
 }